name: material_segmented_control
description: A segmented control widget like the one for iOS, but in Material design.
version: 3.0.0-nullsafety.1
homepage: https://github.com/beagle-barks/material_segmented_control
documentation: https://github.com/beagle-barks/material_segmented_control

environment:
  sdk: '>=2.12.0-29.10.beta <3.0.0'


dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
